{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
{% endblock %}

{% extends "base.html" %}
{% block content %}
<div class="skills-section">
  <div class="container">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="alert alert-danger">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    
    <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="user image" /> -->


    <h2>{{ current_user.username }}</h2>
    <p class="mb-5">{{ current_user.email }}</p>
    <h2>Account info</h2>

    <form method="POST" action="{{ url_for('auth.update_account') }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label(class="form-control-label") }} {{
        form.username(class="form-control", value=current_user.username)
        }}
      </div>
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }} {{
        form.email(class="form-control", value=current_user.email) }}
      </div>
      <div class="form-group">
        {{ form.image_file.label(class="form-control-label") }} {{
        form.image_file(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.about_me.label(class="form-control-label") }} {{
        form.about_me(class="form-control", value=current_user.about_me) }}
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <p>Last Seen: {{ current_user.last_seen }}</p>

    <h2>Change Password</h2>
    <form method="POST" action="{{ url_for('auth.change_password') }}">
      {{ change_password_form.hidden_tag() }}
      <div class="form-group">
        {{ change_password_form.old_password.label(class="form-control-label")
        }} {{ change_password_form.old_password(class="form-control") }}
      </div>
      <div class="form-group">
        {{ change_password_form.new_password.label(class="form-control-label")
        }} {{ change_password_form.new_password(class="form-control") }}
      </div>
      <div class="form-group">
        {{
        change_password_form.confirm_new_password.label(class="form-control-label")
        }} {{ change_password_form.confirm_new_password(class="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>
</div>
{% endblock %}