<header class="header">
  <div class="container header__container">
    <h1>DevFolio</h1>
    <nav>
      <ul class="header__navigation">
        <li><a href="{{ url_for('home')}}">Home</a></li>
        <li><a href="{{ url_for('skills')}}">Skills</a></li>
        <li><a href="{{ url_for('contact')}}">Contact</a></li>
        <li><a href="{{ url_for('info')}}">Info</a></li>
        <li><a href="{{ url_for('todo')}}">Todo</a></li>
        <li><a href="{{ url_for('feedback')}}">Feedback</a></li>
        <li><a href="{{ url_for('login')}}">Login</a></li>
        <li><a href="{{ url_for('register')}}">Register</a></li>
        <li><a href="{{ url_for('users')}}">Users</a></li>
      </ul>
    </nav>
  </div>
</header>
