<!DOCTYPE html>
<html>
  <head>
    <link
      href="{{url_for('static', filename = 'css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container header__container">
          <h1>DevFolio</h1>
          <nav>
            <ul class="header__navigation">
              <li><a href="{{ url_for('home')}}">Home</a></li>
              <li><a href="{{ url_for('skills')}}">Skills</a></li>
              <li><a href="{{ url_for('contact')}}">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="main">{% block content %}{% endblock %}</main>
      <footer class="footer">
        <div class="container footer__container">
          <p>Operational system: {{ os_name }}</p>
          <p>User-Agent data: {{ user_agent }}</p>
          <p>Current time: {{ current_time }}</p>
        </div>
      </footer>
    </div>
  </body>
</html>
