{% block head %}
<title>create category</title>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
{% endblock %} {% extends "base.html" %} {% block content %}
<div class="skills-section">
  <div class="container">
    <form method="post" action="/category/{{ category_id }}/update" class="row mb-4">
      <div class="col-4">
        <div class="form-outline">
          {{ form.hidden_tag() }}  
          {{ form.name(class="form-control", placeholder="Enter category name here...") }}
        </div>
      </div>
      <div class="col-6">
        {{ form.submit(class="btn btn-primary", label="Create") }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
